name: Run diKTat

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  diktat_check:
    runs-on: ubuntu-20.04
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          arguments: |
            diktatCheck
            -Pdetekt.multiplatform.disabled=true
            -Pdiktat.githubActions=true
      - name: Copy SARIF reports into a single directory
        if: always()
        run: |
          mkdir -p build/diktat-sarif-reports
          i=0
          find . -path "*/build/reports/diktat/*.sarif" | while read -r f; do echo "$f -> diktat-$i.sarif" && cp $f build/diktat-sarif-reports/diktat-$i.sarif || echo Cannot copy && echo Copied && i=$((i+1)); done
      - name: Upload SARIF report to Github
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: build/diktat-sarif-reports
